<mat-toolbar color="primary">
   <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
   </button>
   <span>Dashboard</span>
   <span class="example-spacer"></span>
   <button mat-icon-button>
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
        <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <button mat-menu-item routerLink="#">
        <mat-icon>settings</mat-icon><span>Settings</span>
    </button>
    <button mat-menu-item routerLink="#">
        <mat-icon>help</mat-icon><span>Help</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="#">
        <mat-icon>exit_to_app</mat-icon>Logout
    </button>
</mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
   <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav" opened>
      <mat-nav-list>
        <mat-list-item routerLink="dashboard">
            <mat-icon>dashboard</mat-icon><span>Dashboard</span>
        </mat-list-item>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                Mobile Phone
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="#">
                    <mat-icon>apple</mat-icon><span>iOS</span>
                </a>
                <a mat-list-item routerLink="#">
                    <mat-icon>android</mat-icon><span>Android</span>
                </a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                Frameworks
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="#">Spring</a>
                <a mat-list-item routerLink="#">Hibernate</a>
                <a mat-list-item routerLink="#">Struts</a>
            </mat-nav-list>
        </mat-expansion-panel>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
       <div class="app-sidenav-content">
         <router-outlet></router-outlet>
       </div>
   </mat-sidenav-content>
</mat-sidenav-container>